html {
  height: 100%;
  background-color: black;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 50%;

  h3 {
    font-size: 30px;
    text-decoration: underline;
  }

  input {
    height: 35px;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    margin-bottom: 10px;
    background-color: #f1f1f1;
  }

  label {
    font-size: 20px;
    margin: 0 10px 10px 0;
  }
}

.email_input {
  margin-left: 35px;
}

// TODO: find a better way to center everything inside form

.submit_btn {
  margin: 20px 0 0 135px;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
